/* header part */ 
#header{
    width: 100%;
    background-color: aqua;
    height: 10%;
}
#header_name{
    text-align: left;
    margin-top: 0px;
    margin-left:0px ;
}

/* second part: navation bar */
#navigation_Bar{
    display: flex;
}
#select_header{
    width: auto;
    height: auto;
    border: none;
    background-color: aqua;
    margin: auto;
}
.ancher_button{
    color: rgb(247, 57, 4);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
.header_button{
    display: flex;
    margin-top: 70%;
}


/* Main Body Part  */
#main_body{
    width: 100%;
    background-color:white;
}
#scroll_frontpage_ancher{
    color: red;
    font-size: 15px;
    font-style:italic;
    font-weight: bold;
    text-decoration: none;
}
#scroll_frontpage{
    color: rebeccapurple;
    font-size: 13px;
}
